*.o

# executables
Exercises/PerfectNumber/perfect-number
Exercises/DigitSum/digit-sum
Exercises/DigitSumEvenOddSeparated/digit-sum-even-odd-separated
Exercises/IsPrime/is-prime
Exercises/GCD/gcd
Exercises/LCM/lcm
Exercises/BubbleSort/bubble-sort
Projects/Calculator/calculator