*.o

# executables
Exercises/PerfectNumber/perfect-number
Exercises/DigitSum/digit-sum
Exercises/DigitSumEvenOddSeparated/digit-sum-even-odd-separated
Exercises/IsPrime/is-prime
Exercises/GCD/gcd
Exercises/LCM/lcm
Exercises/BubbleSort/bubble-sort
Exercises/BCDtoBinary/bcd-to-binary
Exercises/BitwiseReverse/bitwise-reverse
Exercises/BitCount/bit-count
Exercises/BitCountESIToEDI/bit-count-esi-to-edi
Exercises/Multiplication/multiplication
Exercises/QuickSort/quick-sort
Exercises/BinarySearch/binary-search
Exercises/FloatSum/float-sum
Exercises/ComputeSum/compute-sum

Projects/Calculator/calculator
Projects/FloatCalculator/float-calculator
Projects/Virus/virus
Projects/Virus/sample
Projects/Virus/sample-2